
chat-input {
    box-shadow: 0px 0px 30px rgba(12, 12, 12, 0.2);
    /*border: 1px var(--text) solid;*/
    border-radius: 16px;
    margin: 12px;
}

chat-input > input {
    display: block;
    width: 100%;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 16px;
    font-weight: 600;
    font-family: inherit;
    border-radius: 6px;
    -webkit-appearance: none;
    background-color: rgba(0, 0, 0, 0);
    &::placeholder {
        color: gray;
    }
    &:focus {
        outline: none;
    }
}

chat-input {
    position: absolute;
    bottom: 12px;
    display: flex;
    width: 100%;
    & > span,
    chat-input > input {
        white-space: nowrap;
        display: block;
        &:not(:first-child):not(:last-child) {
            border-radius: 0;
        }
        &:first-child {
            border-radius: 6px 0 0 6px;
        }
        &:last-child {
            border-radius: 0 6px 6px 0;
        }
        &:not(:first-child) {
            margin-left: -1px;
        }
    }
    & > input {
        position: relative;
        z-index: 1;
        flex: 1 1 auto;
        width: 1%;
        margin-top: 0;
        margin-bottom: 0;
    }
    & > span {
        text-align: center;
        padding: 8px 12px;
        font-size: 14px;
        line-height: 25px;
    }
}