
login {
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 960px;
    height: 100vh;
}

login div {
    width: 50%;
    height: 50%;
    background-color: gray;
    border-radius: 8px;
}